anyio==4.9.0
certifi==2025.4.26
Cython==3.1.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.10
packaging==25.0
pillow==11.2.1
pytesseract==0.3.13
python-telegram-bot==20.3
setuptools==80.7.1
sniffio==1.3.1
typing_extensions==4.13.2
wheel==0.45.1
